{{ define "main" }}

{{ partial "carousel.html" . }}

{{ $bg := (resources.Get "images/fj55_streetbeater.png").Resize "1600x" }}
<section class="hero" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('{{ $bg.RelPermalink }}');">
    <div class="hero-text">
        {{ $logo := resources.Get .Site.Params.logo }}

        {{ $logo400 := $logo.Resize "400x" }}
        {{ $logo800 := $logo.Resize "800x" }}
        {{ $logo1200 := $logo.Resize "1200x" }}

        <img
            src="{{ $logo800.RelPermalink }}"
            srcset="
                 {{ $logo400.RelPermalink }} 400w,
                 {{ $logo800.RelPermalink }} 800w,
                 {{ $logo1200.RelPermalink }} 1200w"
            sizes="(max-width: 768px) 90vw, 800px"
            alt="Bicyclious"
            class="hero-logo-large">

        <!-- {{ $logo := (resources.Get .Site.Params.logo).Resize "800x" }} 
        <img src="{{ $logo.RelPermalink }}" alt="Bicyclious" class="hero-logo-large"> -->
        <h2 class="hero-sub" style="padding-top:0rem; ">Builders of Delicious Bicycles</h2>
    </div>
</section>

<!-- ── BUILDS ── -->
{{ $buildPages := where site.RegularPages "Section" "builds" }}
{{ if $buildPages }}
<div class="homepage-builds-section-header">
    <h2 class="section-label" style="text-align: center; display: block; width: 100%;">BUILDS</h2>
    <h2 class="section_subtitle">Restomodded simple bikes</h2>
    <h2 class=""section_subtitle">Built for comfort and speed</h2>
</div>

<section class="builds-grid">
  <div class="card-grid">
    {{ range $buildPages.ByWeight }}
      {{ partial "bike-card.html" . }}
    {{ end }}
  </div>
</section>
{{ end }}

<br/><br/>
<!-- ── BLOG PREVIEW ── -->
<!-- 
{{ $posts := where site.RegularPages "Section" "posts" }}
{{ if $posts }}
<section class="posts-preview">
  <div class="section-header-row">
      <h2 class="section-label" style="text-align: center; display: block; width: 100%;"><a href="{{ "/posts/" | relURL }}" style="text-decoration:none">BLOG</a></h2>
  </div>
  <div class="post-list">
    {{ range first 5 $posts }}
    <article class="post-row">
      <a href="{{ .RelPermalink }}" class="post-row-link">
        <span class="post-row-date">{{ .Date | time.Format "2006.01.02" }}</span>
        <span class="post-row-title">{{ .Title }}</span>
        <span class="post-row-summary">{{ .Summary }}</span>
      </a>
    </article>
    {{ end }}
  </div>
</section>
{{ end }}
-->

{{ end }}
