{{- if .Site.Params.googleAnalyticsID -}}
<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalyticsID }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ .Site.Params.googleAnalyticsID }}');
</script>
{{- end -}}

{{- if .Site.Params.posthogToken -}}
<!-- PostHog -->
<script>
    window.POSTHOG_TOKEN = '{{ .Site.Params.posthogToken }}';
    window.POSTHOG_HOST = '{{ .Site.Params.posthogHost | default "https://app.posthog.com" }}';
</script>
{{- $posthogScript := resources.Get "js/posthog.js" -}}
<script src="{{ $posthogScript.RelPermalink }}" defer></script>
{{- end -}}
