{{ $input := . }}
{{ if not (reflect.IsSlice $input) }}
  {{/* Case: Home Page (passed a Page object) */}}
  {{ $slides := site.Data.carousel }}
  {{ if $slides }}
    <div class="swiper bike-carousel">
      <div class="swiper-wrapper">
        {{ range $slides }}
        <div class="swiper-slide" data-href="{{ printf "/builds/%s/" .slug | relURL }}">
          <img
            src="{{ printf "/builds/%s/%s" .slug .image | relURL }}"
            alt="{{ .title }}"
            loading="lazy"
            class="carousel-slide-img"
          >
        </div>
        {{ end }}
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  {{ end }}
{{ else }}
  {{/* Case: Builds/Posts (passed a slice of resources) */}}
  <div class="swiper bike-carousel">
    <div class="swiper-wrapper">
      {{ range $input }}
      <div class="swiper-slide">
        <img
          src="{{ .RelPermalink }}"
          alt=""
          loading="lazy"
          class="carousel-slide-img"
        >
      </div>
      {{ end }}
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
{{ end }}
